# Exclude directories & files
postgres-data
postgres-data/
dbt_project/logs/
dbt_project/target/
dbt_project/dbt_packages
scripts/load_metadata.duckdb
scripts/didomi.db

# Python cache and compiled files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Environment and editor files
.env
.DS_Store
.idea/
.vscode/

# Specific files
/dbt_project/package-lock.yml
/logs/dbt.log
/dbt_project/.user.yml
